@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;    
    font-size: 1rem;
    scroll-behavior: smooth;
}


:root{
    --color: white;
    --bg-color: rgb(202, 202, 205);
    --button-color: rgb(76, 76, 230);
    --spaces: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-image: var(--gradient), url(./img/desert.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    font-size: 1rem;
    min-width: 320px;
    max-width: 320px;
    min-height: 500px;
    max-height: 500px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 3px 3px 6px 6px rgba(194, 194, 194, 0.231);
    margin: 20px;
    padding: 20px 20px 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card_image{
    max-height: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary{
    width: 100%;
    min-height: 100%;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 30%;
}

.img{
    max-height: 150px;
}

.call_center{
    background-image: url(./img/call_center.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
}

.developer{
    background-image: url(./img/developer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
}

.app{
    background-image: url(./img/app.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    max-height: 35%;
}


.summary_title{
    padding: 10px 0px;
    margin: 30px 0px 0px 0px;
    font-size: 1.2rem;
}

.summary_text{
    font-size: 1rem;
    padding: 0px 0px 10px 0px;
}

.link{
    text-decoration: none;
    color: var(--color);
    background-color: var(--button-color);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 120px;
    text-align: center;
}

.link:hover{
    transition: 0.8s;
    color: var(--button-color);
    background-color: var(--color);
    border: 1px solid var(--button-color);
}