@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700&family=Raleway:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700&family=Raleway:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*, ::after, ::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway','Roboto', sans-serif;
    scroll-behavior: smooth;
    font-weight: 300;
}


:root{
    --color-primary: #6a5acd;    
    --clip: circle(0% at 100% 0);
    --colums-card: repeat(7, 1fr); 
    --showInfo: scale(0);
    --transitionModal: .7s transform;
    --transitionBackground: 1s .5s clip-path;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ede8ed;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    clip-path: var(--clip);
    transition: var(--transitionBackground);
}

.modal:target{
    --clip: circle(150% at 100% 0);
    --showInfo: scale(1);
    --transitionModal: 1s 1s transform;
    --transitionBackground: 1s .5s clip-path;
}

.modal_container{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    
    width: 90%;
    height: 100%;
    padding: 20px;
    
    transform: var(--showInfo);
    transition: var(--transitionModal);

}

.image_container{

    grid-row: 1/6;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.modal_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 20px auto;
    /* opacity: 0.6; */
    border-radius: 10px;
}

.modal_texts{
    grid-row: -1/2;
    grid-column: 1/-1;
    z-index: 1;

    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_title{
    padding: 10px 10px;
}

.modal_paragraph{
    font-size: 1rem;
    padding: 10px 10px;
}

.modal_link{
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px;

    width: fit-content;

}

.modal_link:hover{
    background-color: white;
    color: black;
    transition: 0.7s;
}

.modal_close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.open{
    padding: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    border-radius: 2px;
}

.open:hover{
    background-color: black;
    color: white;
    transition: 0.7s;
}